.main{
    flex: 1;
    position: relative;
    min-width: 100vh;
}
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
    font-size: 30px;
    padding: 5px;
}
.main .nav img{
    height: 5vh;
    border-radius: 50%;
}
.main .main-container{
    max-width: 900px;
    margin: auto;
}
.main-container .greet{
    margin: 50px 0px;
    font-size: 60px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}
.main .greet span{
    background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
     -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.main .cards{
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
   gap: 15px;
   padding: 5px;
}
.main .card{
    height: 200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.main .card img{
    width: 4vw;
    padding: 10px;
    position: absolute;
    bottom: 2px;
    right: 10px;    
}
.main .card:hover{
    background-color: #dfe4ea;
}